.no-results {
    border-radius: 4px;
    background: var(--cell-base);
    border: 1px solid hsl(200deg, 80%, 60%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--rp-text);
}

.header {
    background: hsl(0deg, 0%, 95%);
    @media (prefers-color-scheme: dark) {
        background: hsl(0deg, 0%, 15%);
    }
}

.cell {
    background: var(--cell-base);
}

.inbound {
    background: var(--inbound-key);
    cursor: pointer;
    &:hover {
        background: var(--inbound-key-hover);
    }
}

.outbound {
    background: var(--outbound-key);
    cursor: pointer;
    &:hover {
        background: var(--outbound-key-hover);
    }
}

.even:not(.inbound, .outbound) {
    background: var(--cell-striped);
}
